
body{
    background-color: rgb(47, 47, 47);
    
}
.content{
  
    background-image: url(https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg);
    box-shadow: 80px 90px 250px 80px rgb(14, 14, 14) inset;
    height: 700px;
    
    
        
}

 .main-1 img{
    width: 150px;
    height: 40px;
    margin-left: 150px;
    margin-top: 30px;
    
}
.fon{
    color: white;
}

.but-1{
    background-color: black;
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    height: 35px;
    font-size: medium;
    border-color: rgb(155, 153, 153);
    position: absolute;
    right: 300px;
    
    
}
.but-2{
    background-color: rgb(241, 5, 5);
    color: white;
    padding: 5px;
    width: 70px;
    border-radius: 5px;
    height: 35px;
    font-size: medium;
    border: none;
    position: absolute;
    right: 200px;
}
.main-2 h1{
    font-size: 50px;
    color: white;
    font-weight: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
.main-2 h2{
    margin-left: 300px;
    font-size: 25px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    
}
.main-2 h3{
    margin-left: 200px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    
    

}
.main-2{
    margin-top: 200px;
    margin-left: 200px;
    
}
.email{
    width: 370px;
    height: 60px;
    border-radius: 5px;
    margin-left: 220px;
    padding-left: 10px;
    border-color:rgb(113, 112, 112);
    background-color: rgb(31, 31, 30);
    font-size: medium;
    border: rgb(151, 150, 150) solid 0.5px;
    
    
    
}
.chev{background-color: rgb(241, 5, 5);
    color: white;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    height: 55px;
    font-size: larger;
    border: none;
    margin-left: 5px;
}


.sec-1{
    background-color: black;
}
.enjoy{
    margin-top: 7px;
}
.enjoy h1{
    color: white;
    font-size: 50px;
    color: white;
    font-weight: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-top: 150px;
padding-left: 150px;

}
.enjoy p{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    padding-top: 25px;
padding-left: 150px;
    
}

.sec-1, .ani{
    display: flex;
}
.down{
    width: 50px;
    height: 80px;
    
    padding: 10px;
    margin-left: -200px;
    
    
}
.sec-2{
    background-color: black;
    height: 600px;

}
.sec-2, .str{
    display: flex;
    
    
}
.bu{
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 280px;
    border-color: gray;
    font-size: 17px;
    display: block;
    margin-left: 300px;
    margin-bottom: 250px;
    height: 100px;
    
}
.str{
    list-style-type: none;

}

.bl{
    color: rgb(44, 107, 254);
    font-size: medium;
    margin-right: 15px;
    list-style-type: none;
    display: end;
    text-align: center;
    
}
.sec-2 h1{
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 150px;
    line-height: 1.3;
    font-weight: 900;
    margin-left: 50px;
    

    
}
.sec-2,p{
    font-size: 10px;
    font-family: sans-serif;
    color: white;
    

}
.girl{
    height: 350px;
    margin-top: 100px;
    margin-left: 200px;
}
.sec-3{
    background-color: black;
}
.sec-3 h1{
    color: white;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 150px;
    line-height: 1.3;
    font-weight: 900;
    margin-left: 50px;
}
.sec-3, .hug{
    display: flex;
    justify-content: space-evenly;
    
}
.sec-3, p{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    padding-top: 25px;
padding-left: 50px;
    
}
.sec-4{
    background-color: black;
}
.sec-4, h1,p{
    display: flex;
    
}
.sec-4 img{
width: 500px;
height: 300px;
margin-left: 150px;
margin-top: 100px;
}
.sec-4 h1{
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 900;
    margin-top: 200px;
    padding-left:40px;

}
.sec-4 p{
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    
    
}
.sec-5{
    background-color: black;
}
.sec-5 h1{
    color: white;
    font-size: 50px;
    margin-left: 30%;
    font-family: sans-serif;
    padding-top: 50px;
    font-weight:bolder;
}
.opt{
    height: 100px;
    background-color:rgb(10, 10, 10);
    color: white;

}
.sec-5 i{
    color: white;
    position: absolute;
    margin-bottom: 15px;
    
    margin-left: 950px;
    padding-right: 20px;
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: lighter;


}
.bor:hover{
    cursor: pointer;
    color: lightgrey;
    

}
.sec-5 p{
    padding-left: 30px;
    font-size: 20px;
    
}
.bor{
    border: grey solid 2px;
    background-color: rgb(48, 48, 48);
    width: 1050px;
    border: none;
    height: 75px;
    margin-left: 180px;
    
}
.hide{
    color: white;
    border: grey solid 2px;
    background-color: rgb(48, 48, 48);
    width: 1050px;
    height: 250px;
    border: none;
    line-height: 1.3;
    margin-left: 180px;
    
}
.hide-1{
    color: white;
    border: grey solid 2px;
    background-color: rgb(48, 48, 48);
    width: 1050px;
    height: 100px;
    border: none;
    line-height: 1.3;
    margin-left: 180px;
    

}
.hide-2{
    color: white;
    border: grey solid 2px;
    background-color: rgb(48, 48, 48);
    width: 1050px;
    height: 300px;
    border: none;
    line-height: 1.3;
    margin-left: 180px;
    
}
.hide-3{
    color: white;
    border: grey solid 2px;
    background-color: rgb(48, 48, 48);
    width: 1050px;
    height: 150px;
    border: none;
    line-height: 1.3;
    margin-left: 180px;
    
}
.hide-4{
    color: white;
    border: grey solid 2px;
    background-color: rgb(48, 48, 48);
    width: 1050px;
    height: 100px;
    border: none;
    line-height: 1.3;
    margin-left: 180px;
    
}
.hide-5{
    color: white;
    border: grey solid 2px;
    background-color: rgb(48, 48, 48);
    width: 1040px;
    height: 200px;
    border: none;
    line-height: 1.3;
    margin-left: 180px;
    padding: 5px;
    padding-bottom: 50px;
    
}
.sec-6{
    background-color: black;
    margin-top: 50px;
    
    
}
.sec-6 h3{
    color: white;
    padding-left: 400px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: lighter;
    

}
.sec-6 input{
    margin-left: 450px;
    background-color: rgb(45, 44, 44);
    font-style: white;
    margin-bottom: 100px;

}
.fot{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    height: auto;
    
   
    
}
.sub-1 p{
    margin-right: 70px;
}
ul li:hover{
    cursor: pointer;
}
.fot ul li{
    list-style-type: none;
    color: rgb(163, 162, 162);
    line-height: 2.5;
    text-decoration: underline;
    padding-right: 50px;  
   
}
.sub-1{
    margin-left: 100px;
}
.bt-1{
    background-color: black;
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    height: 35px;
    font-size: medium;
    border-color: rgb(155, 153, 153);
    margin-left: 40px;
    position: absolute;
}
.fot p{
    color: white;
    background-color: black;
    margin-top: 50px;
    margin-right: 80px;
    color: rgb(163, 162, 162);
    padding-top: 30px;
    font-size: smaller;
}